@import "./include-media";

.card {
  width: 100%;
  height: 250px;
  overflow: hidden !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .content {
    font-family: "Open Sans";
    text-align: center;
    padding: 20px;
    opacity: 0;
    transition: all 100ms ease-in-out;
    transform: translate(0, 20px);
    cursor: pointer;
    h1 {
      font-size: 22px;
      color: white;
    }
    p {
      font-size: 20px;
      color: white;
      margin-bottom: 20px;
      @include media(">=phone", "<desktop") {
        font-size: 16px;
      }
    }

    .btn {
      background-color: black;
      color: white;
      padding: 10px;
      text-decoration: none;
    }

    &:hover {
      opacity: 0.8;
      height: 100%;
      width: 100%;
      background-color: rgb(141, 141, 141);
    }
  }
}
